.axil-section-gap {
     padding: 40px 0 !important;
 } 
 
 .main-wrapper main {
     margin-top: 50px;
 }

 .dropdown-toggle::after {
     content: none !important;
 }

 .dropdown .dropdown-item {
     color: rgb(15, 15, 15) !important;
     font-size: 14px;
 }

 .dropdown-menu {
     min-width: 170px !important;
 }

 .dropdown-menu hr.solid {
    border-top: 1px solid #999;
    margin-top: 15px;
}